body{
    width: 90%;
    height: 100%;
    margin : 0px auto;
    padding : 0px;
    background-image: url("https://wallpaperaccess.com/full/724708.jpg");
    background-repeat: no-repeat;
    position: fixed;
}


#time{
    position: absolute;
    width : 150px;
    height: 150px;
    border-radius : 50%;
    background-color: black;
    top: 400px;
    left: 100px;
    color: red;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    font-size: 64px;
    font-weight: bold;
}


#missile{
    background-image: url("D:\\ref\\templates\\Python Codes\\javascript\\rockett.jpg");
    background-repeat: no-repeat;
    width: 100px;
    height: 200px;
    margin-left : 700px;
    position: absolute;
    margin-top : 320px;
}


#bullet{
    background-image: url("D:\\ref\\templates\\Python Codes\\javascript\\bullet.png");
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left : 700px;
    position: absolute;
    margin-top : 300px;
}

.enemy{
    background-image: url("D:\\ref\\templates\\Python Codes\\javascript\\ene.png");
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left : 700px;
    /* margin-top : -550px; */

}
.enemy1{
    background-image: url("D:\\ref\\templates\\Python Codes\\javascript\\ene.png");
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left : 300px;
    /* top: 50px; */

}.enemy2{
    background-image: url("D:\\ref\\templates\\Python Codes\\javascript\\ene.png");
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left : 900px;
}

/* top: 150px; */
/* 
}.enemy3{
    background-image: url("D:\\ref\\templates\\Python Codes\\javascript\\ene.png");
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left : 700px;
    margin-top: -400px; 
} */
/* #ene_set{
    width: 100%;
    height: 100px;
    background-color: black;
}
/* #ene_set span{
    width: 100px;
    height: 100px;
    background-image: url("D:\\ref\\templates\\Python Codes\\javascript\\ene.png");
    background-repeat: no-repeat;
} */ 